@use "/public/assets/scss/reset.scss" as *;
@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/mixins" as *;
@use "/public/assets/scss/responsive" as *;

.fullscreen {
	min-height: 100vh;
	background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.75) 100%), url('../../assets/images/fullscreen_bg.jpg');
	background-size: cover;
	background-position: bottom;
	// background-blend-mode: soft-light;
	// background-blend-mode: hue;
	text-align: center;
	position: relative;

	&__block {
		@include position-center;
		text-align: center;

		&__text {		
				font-family: 'Montserrat';				
				font-size: 40px;
				color: $text-color;
				background-color: $color-bg-text;		
				padding: 20px 30px;
				@include md {
					font-size: 30px;
				}
			}

			&__btn {			
				background-color: $color-bg-text;						
				margin-top: 50px;		
				font-family: $font-verdana;					
				font-size: 20px;
				color: $color-yellow-light;
				padding: 10px 20px;
				border-radius: 5px;
				@include md {
					font-size: 16px;
				}
			}
	}
}

