@use "/public/assets/scss/reset.scss" as *;
@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/mixins.scss" as *;
@use "/public/assets/scss/responsive" as *;


.all-video {	
	// padding-top: $padding-top-head;
	

	&__title {
		@include title;
		@include margin-block;
	}

	&__btn {
		@include btn-to-main;
	}

	&__link {
		list-style-type: none;
		margin: 0 auto;
		width: fit-content;
	}	

	&__item {
		margin-bottom: 30px;
	}
	&__item-list {
		width: 854px;
		height: 480px;
		
		@include lg {
			width: 640px;
			height: 360px;
		}
	
		@include md {
			width: 480px;
			height: 250px;
		}
	
		@include sm {
			width: 280px;
			height: 210px;
		}
	}
}

.card {
		width: fit-content;
	}
.btn-outline-light {
	@include btn-to-main;
}


