@use "/public/assets/scss/reset.scss" as *;
@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/mixins.scss" as *;


.all-video {
	// height: 100vh;
	padding-top: $padding-top-head;
	// height: 90vh;

	&__title {
		@include title;
		@include margin-block;
	}

	&__btn {
		@include btn-to-main;

	}

	&__link {
		list-style-type: none;
		margin: 0 auto;
		width: fit-content;
	}	

	&__item {
		margin-bottom: 30px;
	}
}

.card {
		width: fit-content;
	}
.btn-outline-light {
	@include btn-to-main;
}


