@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/mixins.scss" as *;

.eat-block {
	@include margin-block;	
	min-height: 100vh;
	text-align: center;
	&__title {		
		@include title;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-content: center;
		width: fit-content;
		grid-gap: 80px;
		margin: 0 auto;		
	}

	&__item {
		@include margin-post;
		@include text;
	}

	&__image {
		width: 285px;
		height: 190px;
	}
	
	&__btn {
		@include btn-to-main;
		margin-bottom: 40px;
		
	}
}


