@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/mixins.scss" as *;

.interesting-all{
	@include text;
	margin-top: $margin-b-30;

	&__list {
		list-style-type: square;
		list-style-position: outside;
		padding-left: 20px;
	}
	

	
}