@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/mixins.scss" as *;

.interesting-all{
	@include text;
	@include margin-block;
	margin-top: 80px;

	& p{
		margin-bottom: 20px;
	}

	&__title {
		font-size: 23px;
		margin-bottom: 10px;
	}

	&__list {
		list-style-type: square;
		list-style-position: outside;
		padding-left: 20px;
	}
	
	&__btn {
		@include btn-to-main;
	}
}

.btn-outline-light {
	@include btn-to-main-color;
}