$color-white: #FFFFFF;
$color-bg: #1b1b1b;
$color-bg-text: rgba(0, 0, 0, 0.8);
$color-yellow-light: rgb(247, 244, 212);
$text-color: rgba(255, 253, 219, 0.9);
$text-footer: rgba(255, 253, 219, 0.5);
$btn-color: #fffddb;
$link-color: #3998fc;

$margin-b-30: 30px;
$padding-top-head: 50px;

$font-verdana: Verdana;
$font-arial: Arial;