@use "/public/assets/scss/reset.scss" as *;
@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/mixins.scss" as *;

.video-section {	
	padding-bottom: 50px;
	text-align: center;

	&__title {
		@include title;
	}

		
	&__post {
		width: fit-content;
		background-color: black;
		// border: solid 1px white;
	}

	&__btn {
			@include btn;
		}
}

// .video {
	// background-color: rgb(200, 206, 206);
	// @include margin-block;

	

	

	// &__text {
	// 	color: rgb(247, 244, 212);
	// 	font-size: 22px;
	// 	margin-top: 30px;
	// 	margin-bottom: 30px;
	// 	line-height: 1.3;
	// }

	
	
	
// }

.html5-video-player a,
.ytp-title-link,
.ytp-title-text {
	color: black;
	
}