@use "/public/assets/scss/reset.scss" as *;
@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/mixins.scss" as *;
@use "/public/assets/scss/responsive" as *;

.video-section {	
	@include margin-block;
	text-align: center;	

	&__title {
		@include title;
	}

	&__link {
		
	}
		
	&__post {
		width: fit-content;
		background-color: black;
		
	}
	&__item {
		width: 760px;
		height: 405px;
		@include lg {
			width: 640px;
			height: 360px;
		}
		@include md {
			width: 320px;
			height: 240px;
			}
		@include sm {
			width: 280px;
			height: 210px;
		}
	}

	&__btn {
			@include btn;
		}
}	
	
.html5-video-player a,
.ytp-title-link,
.ytp-title-text {
	color: black;
	
}