@use "/public/assets/scss/variables.scss" as *;
@use "/public/assets/scss/font" as *;
@use "/public/assets/scss/responsive" as *;
@use "/public/assets/scss/mixins" as *;

.footer {
	display: flex;
	@include text-footer;	
	justify-content: space-between;
	@include sm {
		flex-direction: column;
		text-align: center;
	}
}